{% extends 'base_saas.html' %}
{% load static %}

{# Este é o template base do módulo Native que agora usa o base_saas.html unificado #}

{% block extra_css %}
{{ block.super }}
<style>
    /* Estilos específicos do módulo Native, se necessário */
    .native-specific {
        /* Customizações específicas */
    }
</style>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    // Scripts específicos do módulo Native, se necessário
    console.log('Módulo Native carregado');
</script>
{% endblock %}
